.button-container {
    display: flex;
    align-items: center;
    margin-left: 500px;
  }
  .download-btn,
  .options-btn {
    background-color: #42b8d0;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .options-btn {
    margin-left: 20px; 
  }
  .download-btn {
    background-color: #1d438a; 
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px; 
  }

  
  .approval-container {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 0.5px; 
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .approval-container3{
    
    position: absolute;
    right: 750px;
    top: 92px;
    
  }
  .approval-container4{
    
    position: absolute;
    right: 500px;
    top: 750px;
    
  }
  .Approve-btn, .create-btn {
    
    background-color: #24cd81;
    border: none;
    color: white;
    padding: 10px 24px;
    
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    display: inline-block;
    

     
    

  }

  .cancel-btn1{
    background-color: #e61c15;
    border: none;
    color: white;
    padding: 10px 24px;
    
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;

  }

  .cancel-btn1:hover{
    background-color: #ce5e5e;
  }
  
  .create-btn:hover {
    background-color: #207846;
  }
  .draft-btn {
    
    background-color: #767776;
    border: none;
    color: white;
    padding: 10px 24px;
    
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    display: inline-block;


     
    

  }
  
  .draft-btn:hover {
    background-color: #888b8a;
  }
  .options-btn {
    margin-right: 10px; 
  }
  
  .download-btn:hover,
  .options-btn:hover {
    background-color: #0a384e;
  }
  
  .edit-btn,
  .cancel-btn {
    background-color: #f9f9f9;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px; 
  }
  .header-wrapper {
    display: flex;
    align-items: center;
  }
  .back-btn {
    order: 0;
    color: #1d438a;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 35px;
    font-weight: bolder;
    width: 60px;
  }

  .confirm-modal{
    position: absolute;
    top: 200px;
    left: 300px;
    width: 400px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    
    border-style: solid;
    background-color: papayawhip;
    border-radius: 10px;
  }

  .confirm-text{
    margin-top: 15px;
  }

  .confirmDe-btn{
    width: 100px;
    margin-top: 15px;
    font-size: 20px;
    background-color: #24cd81;
    border-radius: 8px;
    position: absolute;
    left: 80px;
  }
  .notconfirmDe-btn{
    width: 100px;
    margin-top: 15px;
    font-size: 20px;
    background-color: #ee0303;
    border-radius: 8px;
    position: absolute;
    left: 210px;
  }
  
  .options-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 12px 16px;
  }
  
  .options-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .options-dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .options-dropdown:hover .options-dropdown-content {
    display: block;
  }
  .container {
    position: relative; 
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .header h1 {
    margin-right: auto;
    margin-bottom: 560px;
    color: #1d438a;
  }
  
  .back-btn {
    margin-bottom: 570px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    margin-bottom: 400px; 
    margin-right: 50px;
  }
  
  .options-dropdown {
    position: relative; 
  }
  
  .options-btn {
    margin-left: 20px;
  }
  
  .quotation-details {
    position: absolute;
    margin-top: 180px;
    padding: 40px 120px 180px 120px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-left: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .data-details h2 {
    color: #1d438a; 
  }
  
  .data-details p {
    margin-bottom: 10px; 
  }
  
  .data-details ul {
    list-style-type: none; 
    padding: 0; 
  }
  
  .data-details li {
    margin-bottom: 5px; 
  }
  .part1 {
    margin-bottom: 20px;
    margin-left: 80px;
  }
  
  .part1 .custom-colors {
    color: #636262;
    font-weight: 500;
  }
  
  .part1 .custom-color, .custom-color {
    color: #535252;
    font-weight: 650;
  }
  
  .part2 {
    margin-bottom: 20px;
    margin-top: -90px;
    margin-left: 510px;
  }
  
  .part2 .grand-total {
    display: inline-block;
    padding: 20px 25px;
    background-color: #ec8510;
    color: #fff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 30px;
    position: static;
  }
  
  .part3 {
    margin-bottom: 20px;
  }
  
  .part3 .payment-details {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .part3 h3, .h3 {
    color: #1d438a;
  }
  h3 {
    color: #1d438a;
  }
  
  .part3 p {
    margin-bottom: 10px;
  }
  
  .part3 .custom-c {
    font-weight: bold;
    color: #42b8d0;
  }
  
  .part3 .custom-colors, .custom-colors {
    color: #535252;
    font-weight: 600;
  }
  .custom-c {
    font-weight: bold;
    color: #42b8d0;
  }
  .footer {
    margin-top: 20px; 
  }
  
  .container.menu-active {
    margin-left: -310px;
    margin-top: 80px;
  }
  .container.menu-inactive {
    margin-left: 310px; 
    margin-top: 80px;
  }
  .main-content {
    height: calc(100vh); 
    overflow-y: auto; 
  }

  .box-confirm{
    width: 100px;
    height: 100px;
    position: absolute;

  }
  
  @media (max-width: 1200px) {
    .container.menu-active {
      margin-left: -260px;
    }
    .container.menu-inactive {
      margin-left: 260px; 
    }
  }
  
  @media (max-width: 992px) {
    .container.menu-active {
      margin-left: -210px;
    }
    .container.menu-inactive {
      margin-left: 210px; 
    }
  }
  
  @media (max-width: 768px) {
    .container.menu-active {
      margin-left: -160px;
    }
    .container.menu-inactive {
      margin-left: 160px; 
    }
  }
  
  @media (max-width: 576px) {
    .container.menu-active {
      margin-left: -120px;
    }
    .container.menu-inactive {
      margin-left: 120px; 
    }
  }
  
  @media (max-width: 480px) {
    .container.menu-active {
      margin-left: -100px;
    }
    .container.menu-inactive {
      margin-left: 100px; 
    }
  }
  
  
  
  