@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* .home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
} */

/* Navbar CSS */
.supply-pro-container {
  background-color: #a2b3d1; 
  margin-bottom: 10px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 270px; 
}

.other-container {
  background-color: #d8d8d8;
  padding: 39.5px;
  position: fixed;
  width: calc(100% - 270px);
  top: 0;
  left: 310px;
}
.supply-pro {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

.supply {
  color: #fff; 
  font-size: 30px;
  font-weight: bold; 
  margin-left: 10px;
}

.pro {
  color: #193e72; 
  font-size: 30px;
  font-weight: bold; 
}

.nav-menu {
  background-color: #193e72;
  width: 310px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 45px;
  left: -310px;
  transition: 350ms;
  z-index: 1;
}

.nav-menu.active {
  left: 0;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
  list-style: none;
}
.nav-menu-items a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s; 
  font-size: 21px;
  font-weight: bold; 
  margin: 10px;
}
.nav-menu-items a:hover {
  background-color: #a2b3d1;
  color: #193e72;
}
.nav-menu-items a.active {
  background-color: #a2b3d1;
  color: #193e72;
}


.navbar-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  color: #fff;
}

.toggle-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-bars {
  position: absolute;
  right: 30px;
  font-size: 2rem;
}


span {
  margin-left: 16px;
}


input{
  margin-left: 10px;
  border-radius:25px;
  border: 1px solid #d3d3d3;
  height: 25px;
}
